@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.filter-blue {
  filter: invert(25%) sepia(99%) saturate(886%) hue-rotate(191deg)
    brightness(91%) contrast(88%);
}
